DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (^|/)certs(/|$) - [F,L]

    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
    RewriteCond %{HTTP_HOST} !^localhost [NC]
    RewriteCond %{HTTP_HOST} !^127\.0\.0\.1$
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

AddType application/octet-stream .mind
AddType application/javascript .js
AddType text/css .css

<IfModule mod_headers.c>
    <FilesMatch "\.(js|css|svg)$">
        Header set Cache-Control "public, max-age=3600"
    </FilesMatch>
</IfModule>
